<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>

</head>
<body>
<div id="app">
    <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1">主页</el-menu-item>

        <el-menu-item index="2">个人信息中心</el-menu-item>
    </el-menu>

    <!--主页-->
    <div v-if="activeIndex === '1'">
        <h1>主页内容</h1>
        <p>这里可以放置系统公告、常用功能快捷入口等。</p>
    </div>

    <!--个人信息中心-->
    <div class="info" v-if="activeIndex === '2'">
        <h1>个人信息中心</h1>
        <el-upload
                class="avatar-uploader"
                action="http://localhost:8080/Technical-Forum/administratorServlet/uploadAvatar"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload"
                :data="{id : administrator.id}">
            <el-image v-if="administrator.headPortrait" :src="administrator.headPortrait" class="avatar"></el-image>
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
        <el-form :model="form" label-width="120px" :rules="rules">
            <el-form-item label="昵称" prop="name">
                <el-input v-model="form.name" ></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type='primary' @click="updateAdministratorName">保存</el-button>
            </el-form-item>
        </el-form>
        <el-button type='primary' @click="updateVisible=true">设置密码</el-button>

        <el-dialog
                title="设置密码"
                :visible.sync="updateVisible"
                :before-close="handleClose"
                width="30%"
        >
            <el-form ref="form1" :model="form" :rules="rules" label-width="80px">
                <el-form-item label="手机号" prop="tele">
                    <el-input v-model="form.tele" disabled></el-input>
                </el-form-item>
                <el-form-item label="原密码" prop="password">
                    <el-input placeholder="填写原密码" v-model="form.password" show-password></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="newPassword">
                    <el-input placeholder="填写新密码" type="password" v-model="form.newPassword" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="checkPassword">
                    <el-input placeholder="再次填写确认" type="password" v-model="form.checkPassword" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="updatePassword('form1')">提交</el-button>
                    <el-button @click="handleClose">取消</el-button>
                </el-form-item>
            </el-form>

        </el-dialog>


    </div>

</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: '#app',
        mounted(){
            console.log(this.administrator.name);
        },
        data() {
            //制定密码规则
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.checkPassword !== '') {
                        this.$refs.form.validateField('checkPassword');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.form.newPassword) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                //用户数据
                user: {
                    id: '',
                    username: '',
                    tele: '',
                    password: '',
                    headPortrait: ''
                },
                //管理员数据
                administrator: {
                    id: localStorage.getItem('administratorId'),
                    name: localStorage.getItem('administratorName'),
                    tele: localStorage.getItem('administratorTele'),
                    password: '',
                    headPortrait: localStorage.getItem('administratorHeadPortrait')
                },
                //表单数据
                form: {
                    name: localStorage.getItem('administratorName'),
                    tele: localStorage.getItem('administratorTele'),
                    password: '',
                    newPassword:'',
                    checkPassword:''
                },
                //导航菜单索引
                activeIndex: '2',
                //头像url路径
                imageUrl: '',
                //设置密码对话框
                updateVisible:false,
                //确认密码
                checkPassword:'',
                //输入规则
                rules: {
                    name: [
                        { required: true, message: '请输入昵称', trigger: 'blur' }
                    ],
                    //密码规则
                    password: [
                        { required: true, message: '请输入密码', trigger: 'blur' },
                        { min: 8, max: 12, message: '长度需在8到12个字符之间', trigger: 'blur'}
                    ],
                    //密码规则
                    newPassword: [
                        { min: 8, max: 12, message: '长度需在8到12个字符之间', trigger: 'blur'},
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    //再次输入密码规则
                    checkPassword: [
                        { validator: validatePass2, trigger: 'blur'}
                    ]
                },
            }
        },
        methods: {
            handleSelect(key) {
                this.activeIndex = key;
            },
            handleAvatarSuccess(res) {
                if (res.success) {
                    this.administrator.headPortrait = res.data.headPortraitPath;
                    //改变localStorage里面存储的信息
                    localStorage.setItem("administratorHeadPortrait", this.administrator.headPortrait)
                    this.$message({
                        type:'success',
                        message:'上传头像成功！'
                    })
                } else {
                    this.$message.error('上传头像失败，请稍后再试');
                }
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            //关闭对话框
            handleClose(){
                this.updateVisible = false;
                //重置表单中的密码信息
                this.form.password = '';
                this.form.newPassword = '';
                this.form.checkPassword = '';
            },
            //修改昵称
            updateAdministratorName() {
                this.administrator.name = this.form.name;
                //使用 axios 发送请求
                axios({
                    method:'get',
                    url:'http://localhost:8080/Technical-Forum/administratorServlet/updateAdministratorName?'
                    + "name=" + this.administrator.name + "&id=" + this.administrator.id
                }).then(resp => {
                    if (resp.data === 'success') {
                        //修改成功
                        localStorage.setItem("administratorName", this.administrator.name)
                        this.$message.success('昵称保存成功');
                    }
                })
            },
            //修改密码
            updatePassword(formName){
                this.$refs[formName].validate((valid) => {
                    console.log(this.form.checkPassword);
                    console.log(this.checkPassword);
                    if (valid) {
                        //判断原密码是否正确
                        axios({
                            method:'get',
                            url:'http://localhost:8080/Technical-Forum/administratorServlet/loginAdministrator?'
                            + "tele=" + this.administrator.tele + "&password=" + this.form.password
                        }).then(resp => {
                            if (resp.data !== 'fail'){
                                //原密码正确
                                //修改密码
                                axios({
                                    method:'get',
                                    url:'http://localhost:8080/Technical-Forum/administratorServlet/updateAdministratorPassword?'
                                    + "password=" + this.form.newPassword + "&id=" + this.administrator.id
                                }).then(resp => {
                                    if (resp.data === 'success'){
                                        //修改成功
                                        this.$message.success('设置密码成功！');
                                    } else {
                                        //修改失败
                                        this.$message.error('请求失败，请稍后重试！');
                                    }
                                    //关闭对话框
                                    this.handleClose();
                                })
                            } else {
                                //原密码错误
                                this.$message.error('原密码错误！')
                            }
                        })

                    }else {
                        console.log('error submit!!');
                        return false;
                    }
                })
            }
        }
    })


</script>
</body>
</html>