<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        #login{
            width: 600px;
            margin:60px auto;
        }
        #intercept{
            color: red;
        }
    </style>
</head>
<body>
<div id="login">
    <h1 align="center">登录</h1>
    <div id="intercept" v-if="loginMsg"  align="center" >{{ loginMsg }}</div>
    <!--登录表单-->
    <el-form :model="form" :rules="rules" ref="loginForm" label-width="100px" class="demo-ruleForm">
        <!--输入手机号信息-->
        <el-form-item label="手机号" prop="tele">
            <el-input v-model="form.tele" placeholder="手机号" ></el-input>
        </el-form-item>
        <!--输入密码-->
        <el-form-item label="密码" prop="password">
            <el-input placeholder="密码" v-model="form.password"  show-password></el-input>
        </el-form-item>
        <!--记住用户信息复选框-->
        <!--<el-radio v-model="checked" label="1">记住我</el-radio>-->
        <el-checkbox v-model="checked">记住我</el-checkbox>
        <el-form-item label="验证码">
            <el-input placeholder="验证码" v-model="form.checkCode"></el-input>
            <el-image v-bind:src="checkCodeImg" @click="changeCheckCode"></el-image>
            <el-button type="text" @click="changeCheckCode">看不清？换一张</el-button>
        </el-form-item>
        <!--选择登录或是重置信息-->
        <el-form-item>
            <el-button type="primary" @click="loginSubmit('loginForm')">登录</el-button>
            <el-button @click="resetLoginForm('loginForm')">重置</el-button>
        </el-form-item>
    </el-form>
    <!--可前往注册页面-->
    <el-link type="primary" v-bind:href="url" >没有账号？立即注册</el-link>
</div>

<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="js/jsencrypt.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#login",
        created(){
            let searchParams = new URLSearchParams(window.location.search);
            this.loginMsg = searchParams.get("loginMsg");

            this.form.tele = this.getCookie('tele');
            this.form.password = this.getCookie('password');
        },
        mounted(){
            //生成验证码
            this.changeCheckCode();
            //初始化 jsencrypt 实例
            this.loginEncrypt = new JSEncrypt();
            // 获取公钥
            this.loginFetchPublicKey();
        },
        data() {
            return {
                //密钥
                loginEncrypt: null,
                //公钥
                loginPublicKey: null,
                //表单数据：
                form:{
                    tele:'',
                    password:'',
                    //select:'普通用户',
                    checkCode:''
                },
                //用户数据
                user:{
                    id:'',
                    username:'',
                    tele:'',
                    password:'',
                    headPortrait:'',
                    role:''
                },
                //管理员数据
                administrator:{
                    id:'',
                    name:'',
                    tele:'',
                    password:'',
                    headPortrait:''
                },
                //输入规则
                rules: {
                    //用户名规则
                    name: [
                        { required: true, message: '请输入用户名', trigger: 'blur' }
                    ],
                    //密码规则
                    password: [
                        { required: true, message: '请输入密码', trigger: 'blur' },
                        { min: 8, max: 12, message: '长度需在8到12个字符之间', trigger: 'blur'}
                    ],
                    //手机号规则
                    tele: [
                        { required: true, message: '请输入手机号', trigger: 'blur' },
                        { pattern: /^1[2-9]\d{9}$/, message: '请输入11个数字（首数字为1，且次数字不可为1）', trigger: 'blur'}
                    ]
                },
                url:'register.html',
                //验证码图片
                checkCodeImg:'http://localhost:8080/Technical-Forum/checkCode/generateCheckCode',
                //拦截信息
                loginMsg:'',
                //是否记住用户信息的标记
                checked:false
            }
        },
        methods: {
            //提交登录信息
            loginSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //判断验证码是否输入正确
                        //发送ajax请求
                        axios({
                            method:"get",
                            url:"http://localhost:8080/Technical-Forum/checkCode/verifyCheckCode",
                            params: {checkCode : this.form.checkCode}
                        }).then(resp =>{
                            if (resp.data === "success"){

                                this.user.tele = this.form.tele;
                                this.user.password = this.form.password;
                                //加密 密码
                                this.user.password = this.loginEncrypt.encrypt(this.user.password);
                                //发送ajax请求
                                axios({
                                    method: 'get',
                                    url: 'http://localhost:8080/Technical-Forum/userServlet/loginUser',
                                    params: {tele : this.user.tele, password : this.user.password, checked : this.checked}
                                }).then(resp => {
                                    if (resp.data !== 'fail'){
                                        this.user = resp.data;
                                        //判断账号是否被封禁
                                        axios({
                                            method:'post',
                                            url:'http://localhost:8080/Technical-Forum/accountBanServlet/selectAccountBanByBanUserId',
                                            data: this.user.id
                                        }).then(async resp => {
                                            if (resp.data !== 'fail') {
                                                //该账号已被封禁
                                                this.$message.error('该账号因违规已被封禁');
                                            } else {
                                                //未被封禁
                                                //登录成功
                                                //创建session
                                                await this.createSession();
                                                //消息提示
                                                this.$message({
                                                    type: 'success',
                                                    message: '登录成功！'
                                                })
                                                // 登录成功，将相关信息存储到localStorage
                                                localStorage.setItem('id', this.user.id);
                                                localStorage.setItem('username', this.user.username);
                                                localStorage.setItem('tele', this.user.tele);
                                                localStorage.setItem('headPortrait', this.user.headPortrait);
                                                localStorage.setItem('role', this.user.role);

                                                // 跳转到user.html
                                                window.location.href = 'user.html';
                                            }
                                            this.changeCheckCode();
                                        })

                                    } else {
                                        //登录失败
                                        this.$message.error('登录失败，请检查个人信息！')
                                    }
                                })
                            } else if (resp.data === "fail"){
                                //验证码输入错误
                                this.$message.error('验证码错误');
                                this.changeCheckCode();
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //更换验证码
            changeCheckCode(){
                this.checkCodeImg = "http://localhost:8080/Technical-Forum/checkCode/generateCheckCode?" + new Date().getMilliseconds()
            },
            //重置信息
            resetLoginForm(formName) {
                this.$refs[formName].resetFields();
            },
            //获取cookie信息
            getCookie(name){
                //console.log(document.cookie);
                const cookies = document.cookie.split('; ');
                for (let i = 0; i < cookies.length; i++) {
                    const parts = cookies[i].split('=');
                    const currentName = parts[0].trim();
                    if (currentName === name) {
                        return decodeURIComponent(parts[1]);
                    }
                }
                return null;
            },
            //获取 公钥
            loginFetchPublicKey() {
                axios({
                    method:'get',
                    url:'http://localhost:8080/Technical-Forum/keyGeneratorServlet/getPublicKey'
                }).then(resp => {
                    this.loginPublicKey = resp.data;
                    //设置公钥
                    this.loginEncrypt.setPublicKey(this.loginPublicKey);
                }).catch(error => {
                    console.error('获取登录公钥失败', error);
                    this.$message.error('获取登录公钥失败');
                });
            },
            //创建 用户session
            async createSession(){
                const resp = await axios({
                    method:'post',
                    url:'http://localhost:8080/Technical-Forum/userServlet/createUserSession',
                    data:this.user
                })
                if (resp.data !== 'success') {
                    //创建失败
                    this.$message.error('session创建失败');
                }
            }
        },

    })

</script>
</body>
</html>